*{box-sizing: border-box;}
body{background-color: #f4f4f4;}
.container{display: flex; flex-direction: column; justify-content: center; align-items: center; align-content: center;}
.container .pandora-i-open{cursor: pointer; padding: 10px 20px; margin-block: 10px; background-color: #000fff; color: #ffffff; border-radius: 10px;}
.container .pandora-d-open{cursor: pointer; padding: 10px 20px; margin-block: 10px; background-color: #ff0000; color: #ffffff; border-radius: 10px;}